<footer>
    <div class="logo">Copyright © UpNorth 2022</div>
    <div>
        <ul>
            <li><a href="#">Plan du site</a></li>
            <li><a href="#">À propos</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="#">Contactez-nous</a></li>
            <li><a href="#">Faire carrière</a></li>
        </ul>
    </div>
</footer>