<nav class="liste-categories confirmer-email">
  <ul>
    <li>
      <p class="p-2">
        Votre email n'est pas confirmé ! Vous ne pourrez pas ajouter des produits
        dans votre panier.
      </p>
    </li>
  </ul>
</nav>
