<nav class="liste-categories">
  <ul>
    <li><a href="/produits">Toutes les catégories</a></li>
    <li><a href="/recherche/categories/hommes">Pour hommes</a></li>
    <li><a href="/recherche/categories/femmes">Pour femmes</a></li>
    <li><a href="/recherche/categories/unisexe">Unisexe</a></li>
    <li><a href="/recherche/categories/chandail">Chandails</a></li>
    <li><a href="/recherche/categories/chemise">Chemises</a></li>
    <li><a href="/recherche/categories/pantalon">Pantalons</a></li>
    <li><a href="/recherche/categories/accessoire">Accessoires</a></li>
  </ul>
</nav>
