footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 25vh;
  background-color: var(--header-color);
}

footer div {
  padding: 3rem var(--header-padding);
}

footer ul {
  list-style: none;
}
